<div class="col-md-6 col-md-offset-3" style="background-color: #f7f7f8; border-radius: 0.5em;margin-top:10px;">
  <h2 align="center">My Account</h2>

  <div class="col-md-2">
    <%= image_tag 'avatar.jpg', style: "width:100%;" %>
  </div>
  <div class="col-md-9 col-md-offset-1">

  </div>

  <hr>
  <div class="row">
    <div class="col-md-9 col-md-offset-2" style="font-size: 1.1em">
      <div class="col-md-4" style="font-weight: bolder">
        email
      </div>
      <div class="col-md-8">
        <%= current_user.email %>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-9 col-md-offset-2" style="font-size: 1.1em">
      <div class="col-md-4" style="font-weight: bolder">
        username
      </div>
      <div class="col-md-8">
        <%= current_user.username %>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-9 col-md-offset-2" style="font-size: 1.1em">
      <div class="col-md-4" style="font-weight: bolder">
        introduction
      </div>
      <div class="col-md-8">
        <%= current_user.introduction %>
      </div>
    </div>
  </div>
  <!--  不会实现编辑其他信息的功能，先提交把-->
  <!--  <hr>
  <div class="row">
    <div class="col-md-3 col-md-offset-7" style="font-size: 1.1em">
      <%#= link_to 'Edit', root_path, class: "btn btn-primary", style: "width:100%;" %>
    </div>-->
  <hr>
</div>




