/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-size: 16px;
}

textarea {
    resize: none;
}

footer {
    clear: both;
    color: #666666;
    text-align: center;
    padding: 15px;
    margin: 100px 10px 10px 10px;
}

/*for questions*/
#new-question-tip {
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em 1.5em;
  color: #0084ff;
  background-color: rgba(0, 132, 255, 0.1) ;
  border-radius: 5%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
